<form [formGroup]="shipForm" class="container">
  <h1 class="mb-3">Shipping</h1>

    <h3>Shipping Address</h3>

    <div class="row">
        <div class="col">
          <label for="ship-street-address" class="form-label">Street Address</label>
          <input type="text" class="form-control" name="shipStreetAddress" id="ship-street-address" placeholder="1 Bonnyview Avenue" formControlName="shipStreetAddress" required>
          <div *ngIf="streetAddressForm?.invalid && (streetAddressForm?.dirty || streetAddressForm?.touched)" class="text-danger">
            <div *ngIf="streetAddressForm?.errors?.required" >
              Shipping Street Address is required.
            </div>
            <div *ngIf="streetAddressForm?.errors?.pattern">
              Shipping Street Address does not seem to be a valid address.
            </div>
          </div>
        </div>
        <div class="col">
          <label for="ship-city" class="form-label">City</label>
          <input type="text" class="form-control" id="ship-city" placeholder="Sunnyvale" formControlName="shipCity" required>
          <div *ngIf="cityForm?.invalid && (cityForm?.dirty || cityForm?.touched)" class="text-danger">
            <div *ngIf="cityForm?.errors?.required">
              Shipping City is required.
            </div>
          </div>
        </div>
        
        
        <div class="col">
          <label for="ship-zip-code" class="form-label">Zip/Postal Code</label>
          <input type="text" class="form-control" id="ship-zip-code" placeholder="B3V" formControlName="shipZipCode" required>
          <div *ngIf="zipCodeForm?.invalid && (zipCodeForm?.dirty || zipCodeForm?.touched)" class="text-danger">
            <div *ngIf="zipCodeForm?.errors?.required">
              Shipping Zip/Postal Code is required.
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
          <label for="ship-state" class="form-label">State/Province/Region</label>
          <input type="text" class="form-control" id="ship-state" placeholder="Nova Scotia" formControlName="shipState" required>
          <div *ngIf="stateForm?.invalid && (stateForm?.dirty || stateForm?.touched)" class="text-danger">
            <div *ngIf="stateForm?.errors?.required">
              Shipping State/Province/Region is required.
            </div>
          </div>
        </div>
      
        <div class="col">
          <label for="ship-country" class="form-label">Country</label>
          <input type="text" class="form-control" id="ship-country" placeholder="Canada" formControlName="shipCountry" required>
          <div *ngIf="countryForm?.invalid && (countryForm?.dirty || countryForm?.touched)" class="text-danger">
            <div *ngIf="countryForm?.errors?.required">
              Shipping Country is required.
            </div>
          </div>
        </div>

    </div>

    <h3>Shipping Method</h3>
    
    <div class="row">
        <div class="col">
            <div class="form-check form-check-inline">
             <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ship-radio-method-1" value="Regular" (change)="onShippingMethodChange($event)" checked>
             <label class="form-check-label" for="ship-radio-method-1">Regular (10-12 business days)</label>
            </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ship-radio-method-2" value="Expedited" (change)="onShippingMethodChange($event)">
            <label class="form-check-label" for="ship-radio-method-2">Expedited (3-5 business days)</label>
        </div>
        </div>
        <div class="col">
            <p>Estimated Shipping Fee:</p>
            <p>$3.00</p>
        </div>
    </div>

    <div class="row">
        <label for="ship-email" class="form-label">Email</label>
        <input type="text" class="form-control" id="ship-email" placeholder="kittiesLuvBubbles@yahoo.com" formControlName="shipEmail" required>
        <div *ngIf="emailForm?.invalid && (emailForm?.dirty || emailForm?.touched)" class="text-danger">
          <div *ngIf="emailForm?.errors?.required">
            Email is required for confirmation
          </div>
          <div *ngIf="emailForm?.errors?.pattern">
            Email does not seem to be a valid email address.
          </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
      <div class="col">
        <a routerLink="/catalog"><button (click)="onCancelClick()" type="button" class="btn btn-outline-primary me-3">Cancel</button></a>
      </div>
      <div class="col">
        <div class="float-end">
           <a *ngIf="shipForm.valid" routerLink="/payment"><button (click)="onNextClick()" type="submit" class="btn btn-primary">Next</button></a>
           <button *ngIf="!shipForm.valid" type="submit" class="btn btn-primary" disabled>Next</button>
        </div>
      </div>
    </div>
  
</form>