<div class="ibox-content">
    <div class="table-responsive">
        <table class="table shoping-cart-table">
            <tbody>
            <tr>
                <td width="90">
                    <img src="{{cartItem.url}}" width="90">
                </td>
                <td class="desc" width="550">
                    <h3>
                    <a >
                        <u>{{cartItem.name}}</u>
                    </a>
                    </h3>
                    <p class="small">
                        {{cartItem.description}}
                    </p>
                    <div class="m-t-sm">
                        <a routerLink="/shopping-cart" class="text-muted" (click)="removeItem(cartItem.productId)"><i class="fa fa-trash"></i> Remove item</a>
                    </div>
                </td>

                <td width="50">
                    {{cartItem.price | currency:'USD'}}
                </td>
                <td width="80">
                    <input type="number" class="form-control" value="{{cartItem.qty}}" width="70" min="1">
                </td>
                <td>
                    <h4>
                        {{(cartItem.qty * cartItem.price) | currency:'USD'}}
                    </h4>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
