<div class="card border-0 ">

    <div class="card-body pt-0"> 
        <div class="row justify-content-between">
            <div class="col-auto col-md-7">
                <div class="media flex-column flex-sm-row"> <img class=" img-fluid " src="{{cartItem.url}}" width="62" height="62">
                    <div class="media-body my-auto">
                        <div class="row ">
                            <div class="col">
                                <p class="mb-0"><b>{{cartItem.name}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pl-0 flex-sm-col col-auto my-auto">
                <p class="boxed">{{cartItem.qty}}</p>
            </div>
            <div class="pl-0 flex-sm-col col-auto my-auto">
                <p><b>{{(cartItem.price * cartItem.qty) | currency: 'USD'}}</b></p>
            </div>
        </div>       
    </div>
</div>
