<div class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <h3>Confirmation</h3>
            </div>
            <div class="row">
                <div class="div">
                    <p>
                        We've received your message. A representative from our team will contact you at {{contactUsInfo.email}}.
                    </p>
                </div>
            </div>
            <div class="row">
                <a routerLink="/catalog"><button type="button" class="btn btn-outline-primary me-3">Return to Catalog</button></a>
            </div>
        </div>

</div>
