<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span *ngIf="cartItems.length > 0" class="pull-right">(<strong>{{this.ctc.totalItems}}</strong>) items</span>
                        <h5 *ngIf="cartItems.length == 0">Your Cart is Empty</h5>
                        <h5 *ngIf="cartItems.length > 0">Items in your cart</h5>
                    </div>
                    <div class="for-loop" *ngFor="let item of cartItems">
                        <app-shopping-cart-item [cartItem]="item"></app-shopping-cart-item>
                    </div>
                    <div class="ibox-content">
                        <a *ngIf="cartItems.length == 0"><button class="btn btn-primary pull-right" disabled><i class="fa fa fa-shopping-cart"></i> Checkout</button></a>
                        <a routerLink="/shipping" *ngIf="cartItems.length > 0"><button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button></a>
                        <a routerLink="/catalog"><button class="btn btn-outline-primary"><i class="fa fa-arrow-left"></i> Continue shopping</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            {{this.ctc.total | currency:'USD'}}
                        </h2>

                        <hr>
                        <span class="text-muted small">
                            *Applicable sales tax will be applied
                        </span>
                        <div class="m-t-sm">
                            <div class="btn-group">
                                <a *ngIf="cartItems.length == 0"><button class="btn btn-primary btn-sm" disabled><i class="fa fa-shopping-cart"></i> Checkout</button></a>
                                <a routerLink="/shipping" *ngIf="cartItems.length > 0"><button class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</button></a>
                                <a *ngIf="cartItems.length == 0"><button class="btn btn-outline-primary btn-sm" disabled>Cancel</button></a>
                                <a routerLink="/catalog" *ngIf="cartItems.length > 0"><button class="btn btn-outline-primary btn-sm" (click)="clearCart()"> Cancel</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Support</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h3><i class="fa fa-phone"></i> +1 800-000-CART(2278)</h3>
                        <span class="small">
                            Please contact us if you have any questions. We are avalible 24/7.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
