 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="#" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        Bubbles Cart Redistribution Network
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home" class="nav-link px-2 link-dark">Home</a></li>
        <li><a routerLink="/catalog" class="nav-link px-2 link-dark">Catalog</a></li>
        <li><a routerLink="/about" class="nav-link px-2 link-dark">About Us</a></li>
        <li><a routerLink="/contact-us" class="nav-link px-2 link-dark">Contact Us</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a routerLink="/shopping-cart"><button id="shoppingCart" class="btn btn-outline-primary me-2"><img src="https://icons-for-free.com/iconfiles/png/512/cart-131964784999299812.png" /></button></a>
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>
  </div>