<h1 class="mb-3">Shipping</h1>
<div class="container">
    <div class="row"> <!-- Cart nonempty -->
        <app-cart-item>
        </app-cart-item>
    </div>
    <div> <!-- Cart empty -->
        <p>Your cart is currently empty.</p>
        <img src="https://i.pinimg.com/originals/3b/b9/f7/3bb9f72e54bc3c36babab1ca38a8ec25.jpg">
    </div>
</div>

<hr class="my-4">
<button type="button" class="btn btn-outline-primary me-3">Back</button>
<div class="divider"></div>
<button type="button" class="btn btn-primary">Checkout</button>